<div class="container float-start mw-70">
    @foreach(Vuelta vuelta in @ViewBag.vueltas)
    {
        <div class="row">
            <div class="col-md-auto">
                i
            </div>
            <div class="col">
                
            </div>
        </div>
    }
</div>