html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.transicion::after {
  display:block;
  background-color: #000000;

  width: 0%;
  content: "";
  height: 4px;
  transition: width 0.5s;
}

.transicion:hover::after {
  width: 100%;
}